body{
    
}
.con {
    font-size: 5em;
    color: white;
    float: none;
    margin: 20% 10%;
    padding: 50px;

    background-image: linear-gradient(to top right, blue, red);
    border-radius: 10px;
    text-align: center;
}