@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200&display=swap');
* {
 font-family: 'Readex Pro', sans-serif;
}

:root{
    --BackColor: white;
    --TextColor: black;
    --MediunBackColor: rgb(150, 150, 150);
    --buttonColor: rgb(210, 210, 210);
    --buttonColorHover: rgb(190, 190, 190);
}

body{
    background-color: var(--BackColor);
    color: var(--TextColor);
}

.textHeader {
    text-align: center;
}

/*Boton de modo oscuro*/
.Dark_Mode_Button{/*main guarda la rueda*/
    -webkit-appearance: none;
    position: relative;
    width: 80px;
    height: 40px;
    background-color: var(--BackColor);
    border-radius: 50px;
    outline: none;
    float: right;
    top: -67.5px;
}
.Dark_Mode_Button:before {  /*Rueda del boton*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all .9s;
    background-color: var(--buttonColorHover);
}
.Dark_Mode_Button:checked:before {/*Rueda del boton*/
    transform: translate(100%);
    transition: all .9s;
}

/*--------------------------*/
.navbar , .header{
    background-color: var(--MediunBackColor);
    padding: 10px;
}
.navbar a{
    text-decoration: none;
    font-size: 2em;
    color: var(--TextColor);
    float: none;
    margin: 0% 0.5%;
    padding: 10px;

    background-color: var(--buttonColor);
    text-align: center;
}
.navbar a:hover {
    background-color: var(--buttonColorHover);

}

/**/

aside {
    margin: 0.25%;
    background-color: var(--MediunBackColor);
}

/*Footer*/

footer{
    text-align: center;
    background-color: var(--MediunBackColor);
}