@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200&display=swap");
* {
  font-family: "Readex Pro", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --BackColor: white;
  --TextColor: black;
  --MediunBackColor: rgb(150, 150, 150);
  --buttonColor: rgb(210, 210, 210);
  --buttonColorHover: rgb(190, 190, 190);
}

body {
  background-color: var(--BackColor);
  color: var(--TextColor);
}

.header {
  background-color: var(--MediunBackColor);
  /*padding: 0px 10px;*/
}
.textHeader h1 {
  display: inline;
}

/*Boton de modo oscuro*/
.Dark_Mode_Button {
  /*main guarda la rueda*/
  -webkit-appearance: none;
  position: relative;
  width: 70px;
  height: 35px;
  background-color: var(--BackColor);
  border-radius: 50px;
  outline: none;
  float: right;
}
.Dark_Mode_Button:before {
  /*Rueda del boton*/
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  transition: 0.4s;
  background-color: var(--buttonColorHover);
}
.Dark_Mode_Button:checked:before {
  /*Rueda del boton*/
  transform: translate(100%);
  transition: 0.4s;
}

#navbar {
  background-color: var(--MediunBackColor);
  display: block;
  width: 100%;
  overflow: hidden;
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navbar ul li {
  display: inline-block;
}

.li-input {
  float: right;
  margin: 2.5px 10px 0 0;
}

#navbar ul li a {
  padding: 8.5px;
  margin: 5px;
  font-size: 1.1em;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  float: none;
  text-transform: uppercase;
  position: relative;
  transition: 0.2s;

  color: var(--TextColor);
  background-color: var(--buttonColor);
}
#navbar ul li a:hover {
  background-color: var(--buttonColorHover);
}

.iconbar {
  display: none;
  font-size: 32px;
  padding: 7.5px;
  cursor: pointer;
  margin-left: auto;
}

#navbar-mobile {
  display: none;
}

hr {
  color: var(--TextColor);
}

/*Capa mas baja*/

#content {
  background-color: var(--MediunBackColor);
  display: flex;
  position: initial;
  margin-left: auto;
  padding: 0;
  height: 100vh;
}

/*Divisiones de las ventanas*/

#eventsList {
  float: left;
  width: 25%;
  height: 100%;
}

#mapAndDescription {
  float: center;
  width: 50%;
  height: 100%;
  margin: 10px;
}

#friendList {
  clear: left;
  width: 25%;
  height: 100%;
}

/*Area del mapa*/

#map {
  height: 75%;
  width: 100%;
}

#map::backdrop {
  color: #448;
}

/*Aside(anuncio)*/

#content aside {
  margin: 0.25%;
  background-color: var(--MediunBackColor);
}

/*Footer*/

footer {
  clear: both;
  width: 100%;
  text-align: center;
  background-color: var(--MediunBackColor);
}

/*barra de navegacion entre partes del content*/

#navbar-mobile ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navbar-mobile ul li {
  float: left;
}

#navbar-mobile ul li a {
  /*padding: 8.5px;
  margin: 5px;
  font-size: 1.1em;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  float: none;
  text-transform: uppercase;
  position: relative;*/
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

  color: var(--TextColor);
  background-color: var(--buttonColor);
}

/*Sistemas reponsive*/

@media screen and (max-width: 820px) {
  html {
    height: auto;
  }

  body {
    margin: 0;
  }

  hr{
    display: none;
  }

  .textHeader h1 {
    display: none;
  }

  #content {
    padding: 0;
    max-width: 100%;
    /*display: block;*/
  }

  /*barra de navegacion entre partes del content*/

  #navbar-mobile {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
  }

  /*Divisiones de las ventanas*/

  #eventsList {
    display: none;
    /*float: left;
    width: 25%;
    height: 100%;*/
  }

  #mapAndDescription {
    display: contents;
    height: 100%;
    width: 100%;
    margin: 0;
  }
  #map {
    height: 100%; /*Si se modifica este porcentaje quedaran huecos*/
    width: 100%;
  }
  #eventDescription {
    display: none;
  }

  #friendList {
    display: none;
    clear: left;
    width: 25%;
    height: 100%;
  }

  #content header {
    padding: 0;
  }

  #content aside {
    clear: both;
    padding: 5%;
  }

  #content footer {
    width: 100%;
    padding: 0;
  }
}

/*Resolucion movil*/
@media screen and (max-width: 600px) {
  .Dark_Mode_Button {
    /*main guarda la rueda*/
    width: 60px;
    height: 30px;
    margin: 2.5px 0 10px 10px;
  }
  .Dark_Mode_Button:before {
    /*Rueda del boton*/
    width: 30px;
    height: 30px;
  }
  .textHeader h1 {
    font-size: 30px;
  }

  .iconbar {
    display: block;
    text-align: left;
  }

  .nav-ul {
    position: fixed;
    width: 100%;
    height: 0;
    overflow: scroll;
  }

  #navbar ul li {
    display: block;
    text-align: center;
  }
  #navbar ul li a {
    font-size: 20px;
    width: -webkit-fill-available;
  }
  #navbar ul li a:hover {
    background-color: var(--buttonColorHover);
  }

  #content {
    /*padding: 10px;*/
    width: auto;
  }

  #content aside {
    padding: 0;
    width: auto;
  }

  #content footer {
    width: auto;
  }
}
